# ---------------------------------------
# Symfony
# ---------------------------------------

# Dossiers générés automatiquement
/var/
/vendor/

# Cache & logs (au cas où var/ est ignoré partiellement)
var/cache/
/var/log/

# Environnements locaux
.env.local
.env.*.local
.phpunit.result.cache

# Fichiers sensibles ou temporaires
/.env.local.php
/.DS_Store

# ---------------------------------------
# IDEs & éditeurs
# ---------------------------------------

# PhpStorm / JetBrains
/.idea/

# VSCode
/.vscode/

# Eclipse
.project
.buildpath
.settings/

# NetBeans
/nbproject/

# ---------------------------------------
# Autres fichiers à ignorer
# ---------------------------------------

# Composer
composer.phar

# Système
Thumbs.db
